@import "../../../../global";

.graph-userdata {
  z-index: -1;
  .user-data {
    .row {
      .col-lg-6 {
        text-align: center;
        h1 {
          color: $secondary-alt;
          margin-bottom: 0px;
        }
        h3 {
          color: $secondary-alt;
          margin-top: 6px;
        }
      }
    }
  }
}
