@import '../../global';

.dalalbull {
  max-height: 100vh;
  overflow: hidden;
  @media screen and (max-width: $media-width) {
    overflow: scroll;
  }
  @media screen and (max-width: $media-width) {
    font-size: 0.7em;
  }
}
