@import '../../../../global';

.graph-userdata {
  h1 {
    color: $secondary-alt;
  }
  .propic {
    width: 30%;
    border-radius: 50%;
  }
  @media screen and (max-width: $media-width) {
    h1 {
      font-size: 1.5em;
    }
  }
}
