@import '../../../../global';

.userdata {
  h1 {
    color: $secondary-alt;
  }
  .propic {
    width: 30%;
    border-radius: 50%;
  }
  padding-top: 1em;
  background: $bg-alt;
  height: 100vh;
  .user-data {
    .row {
      .col-lg-6 {
        margin-top: 3.5em;
        text-align: center;
        h1 {
          color: $secondary-alt;
          margin-bottom: 0px;
        }
        h3 {
          color: $secondary-alt;
          margin-top: 6px;
        }
      }
    }
  }
  @media screen and (max-width: $media-width) {
    h1 {
      font-size: 1.5em;
    }
  }
}
