@import '../../global';

.events {
  margin: 10% 0 0 0;
}

.cell {
  cursor: pointer;
  // padding: 30px;
  margin-bottom: 5em;
  font-weight: 800;
  font-size: 1.7em;
  // background-color: yellow;
  color: $primary-alt;
  font-family: $font-homePage;
}
