@import '../../../../global';

.share-details {
  background-color: $bg;
  padding-top: 1em;
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: dimgrey;
  }

  .h2 {
    color: $primary;
  }
  .h1,
  h2 {
    padding-bottom: 0.3em;
  }
  ul {
    span.nav-link {
      background: none;
      color: #ffffff;
      cursor: pointer;
    }
    span.nav-link.active:hover {
      color: black;
    }
  }
  button {
    font-size: 0.6em;
  }
  @media screen and (max-width: $media-width) {
    padding-top: 1em;
    font-size: 0.7em;
    h1 {
      font-size: 3em;
    }
    h2 {
      font-size: 3.2em;
    }
    .nav {
      .nav-link {
        font-size: 1.3em;
        padding: 0.7em;
      }
    }
  }
}
