@import '../../../../global';

.companies-stock-data {
  padding-top: 2em;
  * {
    &:not(i) {
      font-family: $font-secondary;
    }
  }
  .search-wrapper {
    input[type='search'] {
      width: 100%;
      padding: 8px 10px;
      border: none;
      border-radius: 4px;
      background-color: #252525;
      color: white;
    }
  }
  .companies-list {
    color: white;
    margin-top: 7px;
    max-height: 75vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: dimgrey;
      border-radius: 5px;
    }
    .c-details {
      width: 100%;
    }
  }

  @media screen and (max-width: $media-width) {
    font-size: 0.5em;
    .companies-list {
      max-height: 60vh;
    }
  }
}
