$primary: #d2381c;
$primary-alt: #ec4e1c;
$secondary: #3f943f;
$secondary-alt: #fff;
$bg: #1e1e1e;
$bg-alt: #2b2b2b;
$play-now: #474949;
$media-width: 990px;

$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$font-homePage: 'Rubik', sans-serif;
