@import '../../../../global.scss';

.share-details {
  background-color: $bg;
  padding: 3em;
  .h2 {
    color: $primary;
  }
  .h1,
  h2 {
    padding-bottom: 0.3em;
  }
  ul {
    span.nav-link {
      background: none;
      color: #ffffff;
      cursor: pointer;
    }
    span.nav-link.active:hover {
      color: black;
    }
  }
}
