@import "../../../../global";

.share-details{
  .h2{
    color: $primary;
  }
  .h1, h2{
    padding-bottom: .3em;
  }
  ul{
    span.nav-link{
      background: none;
      color: #ffffff;
      cursor: pointer;
    }
    span.nav-link.active:hover{
      color: black;
    }
  }
}
