@import "../../../../../global";

.buy{
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  .increment-button {
    width: 3em;
    border: .2em white solid;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: white;
    height: 100%;
  }
  #quantity-input {
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background-color: #252525;
    color: white;
    display: flex;
    flex-direction: row;
  }
  .quantity-wrapper{
    font-size: 2em;
  }
  .btn-success{
    background: $secondary;
  }
  .btn-danger{
    background: $primary;
  }

  .pending{
    font-size: .6em;
    .true{
      opacity:.3;
    }
  }

  .details table{
    font-size:.7em;
    th{
      color: $secondary;
    }
  }
}
