@import '../../../global';

.login {
  width: 100%;
  .login-btn {
    width: 100vw;
    button {
      align-self: center;
      width: auto;
      height: auto;
      margin-top: 20vh;
      font-size: 2em;
      background-color: $primary;
    }
  }
}
