@import '../../../global.scss';
.games {
  a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    padding: 5%;
  }

  .gameCell {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    .gameCell > div {
      margin: 0 2em;
      display: flex;
      align-items: center;
    }

    .Rankdetail {
      display: flex;
      flex-direction: column;
    }

    .rankDiv {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      color: $play-now;
    }

    .rank {
      display: flex;
      align-items: center;
      padding-top: 10px;
    }

    .rank p {
      transform: rotate(-90deg);
      font-size: 0.9em;
    }

    .RankValue {
      font-size: 2.5em;
      color: white;
    }

    .PlayNow {
      font-size: 0.8em;
      color: $play-now;
    }

    // Event logo
    .pic {
      width: 5em;
      margin-right: .6em;
    }
  }
}
